body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-about {
  display: flex;
  flex-direction: column;
  background-color: #dddada;
}

/*************************************************HOME HEADER**************************************************/
.about-header {
  background-image: url(../assets/image/img_2.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.about-title1 {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 30vh;
  font-weight: bolder;
}

/*************************************************HOME BTN**************************************************/
/*
.home-btn{
  margin-left: 650px;
  margin-top: 170px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.5s;
}

/*************************************************FOUNDER**************************************************/
.founder-content {
  background-color: white;
}

.founder-content-body {
  margin: 100px;
  margin-bottom: 150px;
}

.founder-title {
  font-size: 70px;
  font-family: "Times New Roman";
  font-weight: 500;
  color: black;
  line-height: 72px;
  text-align: center;
  margin: 50px 0;
}

.flip-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flip-card {
  background-color: transparent;
  width: 32%;
  height: 400px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: linear-gradient(#90EE90, #1D301D);
  color: black;
  display: flex;
  align-items: flex-end;
  padding: 0 0 10px 25px;
}
.flip-card-front .front-text {
  font-family: "Playfair+Display", times, serif;
  font-weight: 200;
  line-height: 1.8;
  color: white;
}
.flip-card-front .front-text h2 {
  font-size: 20px;
}
.flip-card-front .front-text p {
  font-size: 12px;
}

/* Style the back side */
.flip-card-back {
  height: 100%;
  width: 100%;
  background-color: white;
  transform: rotateY(180deg);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
}
.flip-card-back .back-body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding-top: 15px;
  text-align: center;
}
.flip-card-back .back-body p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
.flip-card-back .back-body .person {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.flip-card-back .back-body .person .person-img {
  width: 15%;
  height: fit-content;
  margin-right: 15px;
}
.flip-card-back .back-body .person .person-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.flip-card-back .back-body .person .person-text {
  display: flex;
  flex-direction: column;
}
.flip-card-back .back-body .person .person-text h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #6c757d;
}
.flip-card-back .back-body .person .person-text p {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #6c757d;
}

.card-middle {
  width: 32%;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
}
.card-middle .back-body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding-top: 15px;
  text-align: center;
}
.card-middle .back-body p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
.card-middle .back-body .person {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.card-middle .back-body .person .person-img {
  width: 15%;
  height: fit-content;
  margin-right: 15px;
}
.card-middle .back-body .person .person-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-middle .back-body .person .person-text {
  display: flex;
  flex-direction: column;
}
.card-middle .back-body .person .person-text h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #6c757d;
}
.card-middle .back-body .person .person-text p {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #6c757d;
}

/*************************************************WELCOME**************************************************/
.welcome-content {
  width: 100vw;
  height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.welcome-box {
  width: 35vw;
  height: fit-content;
}

.welcome-to-casahotel {
  font-size: 70px;
  font-family: "Times New Roman";
  margin-top: 100px;
  margin-left: 60px;
  line-height: 4rem;
}

.welcome-paragraph {
  margin-left: 60px;
  margin-top: 25px;
  color: #555555;
  font-size: 20px;
  width: 400px;
  line-height: 2.3rem;
}

.welcome-paragraph-2 {
  margin-left: 60px;
  margin-top: 25px;
  color: #807e7e;
  line-height: 2rem;
  font-size: 18px;
  width: 400px;
}

.btn-box {
  display: flex;
  flex-direction: row;
}

.welcome-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 160px;
  margin-left: 60px;
  margin-top: 45px;
  border: none;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.welcome-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.or {
  margin-top: 60px;
  margin-left: 25px;
  color: #807e7e;
}

.see-video {
  margin-left: 25px;
  margin-top: 60px;
  color: #ff7322;
}

.see-video:hover {
  text-decoration: none;
  color: #e09766;
  transition: 0.5s;
}

.image-wrapper {
  width: 670px;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.welcome-img-1 {
  margin-top: 0px;
  width: 100%;
  height: 110%;
  object-fit: cover;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-left: 100px;
}

/*************************************************TESTIMONIAL**************************************************/
.testimonial-home {
  background-color: white;
  height: 160vh;
}

.testimonial-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.testimonial-comments {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.testimonial-img-p {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 100px;
}

.testimonial-image-carousel {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimonial-paragraph {
  line-height: 1.8rem;
  color: black;
}

.testimonial-nick {
  color: #555555;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -50px;
  margin-right: -50px;
}

/*************************************************RESERVE**************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/*************************************************FOOTER**************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-home {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
}

/*************************************************HOME HEADER**************************************************/
.home-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/image/hero_1.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.home-title {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 20vh;
  font-weight: bolder;
}

/*************************************************HOME BTN**************************************************/
/*
.home-btn{
  margin-left: 650px;
  margin-top: 170px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition-duration: 1.3s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
}

/*************************************************BOOKING FORM**************************************************/
.form-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.booking-form {
  background-color: white;
  height: 150px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
}

.booking-form-box {
  display: flex;
  flex-direction: column;
}

.booking-label {
  margin-top: 30px;
  margin-left: 30px;
  color: black;
  font-weight: 500;
}

.booking-input {
  margin-left: 30px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.booking-input-number {
  margin-left: 30px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.booking-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 260px;
  margin-top: 60px;
  margin-left: 30px;
  border: none;
  color: white;
  margin-bottom: 60px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.booking-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.booking-btn:focus {
  outline: none;
}

/*************************************************WELCOME**************************************************/
.welcome-content {
  width: 100vw;
  height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.welcome-box {
  width: 35vw;
  height: fit-content;
}

.welcome-to-casahotel {
  font-size: 70px;
  font-family: "Times New Roman";
  margin-top: 100px;
  margin-left: 60px;
  line-height: 4rem;
}

.welcome-paragraph {
  margin-left: 60px;
  margin-top: 25px;
  color: #555555;
  font-size: 20px;
  width: 400px;
  line-height: 2.3rem;
}

.welcome-paragraph-2 {
  margin-left: 60px;
  margin-top: 25px;
  color: #807e7e;
  line-height: 2rem;
  font-size: 18px;
  width: 400px;
}

.btn-box {
  display: flex;
  flex-direction: row;
}

.welcome-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 160px;
  margin-left: 60px;
  margin-top: 45px;
  border: none;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.welcome-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.or {
  margin-top: 60px;
  margin-left: 25px;
  color: #807e7e;
}

.see-video {
  margin-left: 25px;
  margin-top: 60px;
  color: #ff7322;
}

.see-video:hover {
  text-decoration: none;
  color: #e09766;
  transition: 0.5s;
}

.image-wrapper {
  width: 670px;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.welcome-img-1 {
  margin-top: 0px;
  width: 100%;
  height: 110%;
  object-fit: cover;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

/*************************************************OFFERS**************************************************/
.offers {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.offer-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.offer-paragraph {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  color: #555555;
}

.offer-main {
  width: 90vw;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.offer-img-1 {
  width: 45vw;
  height: 630px;
  object-fit: cover;
}

.offer-image {
  height: fit-content;
}

.offer-price {
  width: 37vw;
  margin-left: auto;
  margin-right: auto;
}

.price-time {
  display: flex;
  flex-direction: row;
}

.price {
  color: #ff7322;
  font-size: 50px;
  margin-top: 60px;
}

.time {
  margin-left: 5px;
  margin-top: 100px;
  color: #807e7e;
}

.price-title {
  font-family: "Times New Roman";
  font-size: 35px;
}

.price-paragraph {
  color: #555555;
  line-height: 2rem;
  font-size: 16px;
}

.price-paragraph-2 {
  color: #807e7e;
  line-height: 1.7rem;
  font-size: 15px;
  margin-top: 20px;
}

.offer-booking-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 160px;
  margin-top: 25px;
  border: none;
  color: white;
  margin-bottom: 60px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.offer-booking-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.view-btn-box {
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
}

.view-btn {
  border-radius: 27.5px;
  background-color: #ff7322;
  height: 55px;
  width: 230px;
  border: none;
  color: white;
  -webkit-border-radius: 27.5px;
  -moz-border-radius: 27.5px;
  -ms-border-radius: 27.5px;
  -o-border-radius: 27.5px;
  margin-top: 60px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.view-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.view-more-photos-link:hover {
  text-decoration: none;
  color: #e09766;
  transition: 0.5s;
}

/*************************************************GALLERY**************************************************/
.carousel-content {
  height: 190vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.gallery-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.gallery-paragraph {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  color: #807e7e;
}

.testimonial-image {
  width: auto;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
  padding: 0 100px;
}

.car-indicators-box .car-indicators {
  width: 13px;
  height: 13px;
  background-color: #fc3908;
  border-radius: 25px;
  border: none;
}

.view-more-photos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.view-more-photos-link {
  color: #ff7322;
  text-decoration: none;
}

/*************************************************TESTIMONIAL**************************************************/
.testimonial-home {
  background-color: white;
  height: 160vh;
}

.testimonial-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.testimonial-comments {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.testimonial-img-p {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 100px;
}

.testimonial-image-carousel {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimonial-paragraph {
  line-height: 1.8rem;
  color: black;
}

.testimonial-nick {
  color: #555555;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -50px;
  margin-right: -50px;
}

/*************************************************EVENT**************************************************/
.event-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.event-paragraph {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  color: #807e7e;
}

.event-content {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: fit-content;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.event-img-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 380px;
  height: 450px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
  margin-bottom: 170px;
}

.event-img-box:hover {
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.228);
}

.image-events {
  width: 380px;
  height: 270px;
  object-fit: cover;
}

.event-date {
  color: #555555;
  margin-top: 30px;
  margin-left: 25px;
  letter-spacing: 2px;
}

.event-paragraph-box {
  margin-left: 25px;
  margin-right: 25px;
  font-family: Gill Sans;
  font-size: 30px;
  font-weight: 540;
}

.event-paragraph-box:hover {
  color: #ff7322;
  cursor: pointer;
}

/*************************************************RESERVE**************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
}

/*************************************************FOOTER**************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-contact {
  display: flex;
  flex-direction: column;
  background-color: #dddada;
}

/*************************************************HOME HEADER**************************************************/
.contact-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/image/slider-2.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.contact-title {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 20vh;
  font-weight: bolder;
}

/*************************************************HOME BTN**************************************************/
/*
.home-btn{
  margin-left: 650px;
  margin-top: 170px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.5s;
}

/*************************************************BOOKING**************************************************/
.reservation-booking-form {
  width: 100vw;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.book-contact {
  width: 45vw;
  height: 730px;
  border: 1px solid #c2bfbf;
  margin: 120px;
}

.form-box-name {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.form-email {
  display: flex;
  flex-direction: column;
}

.reservation-input {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-email {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 535px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-label {
  margin-top: 30px;
  margin-left: 35px;
  color: black;
  font-weight: 500;
}

.reservation-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 200px;
  margin-top: 60px;
  margin-left: 35px;
  border: none;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reservation-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.reservation-btn:focus {
  outline: none;
}

.textarea {
  width: 535px;
  height: 220px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 35px;
}

.reservation-paragraph-content {
  margin-top: 120px;
}

.reserve-name {
  color: #828686;
  font-size: 15px;
  letter-spacing: 3px;
}

.reserve-address {
  color: #858a88;
  font-size: 40px;
  font-family: "Times New Roman";
  margin-bottom: 40px;
}

/*************************************************TESTIMONIAL**************************************************/
.testimonial-contact {
  background-color: white;
  height: 160vh;
}

.testimonial-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.testimonial-comments {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.testimonial-img-p {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 100px;
}

.testimonial-image-carousel {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimonial-paragraph {
  line-height: 1.8rem;
  color: black;
}

.testimonial-nick {
  color: #555555;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -50px;
  margin-right: -50px;
}

/*************************************************RESERVE**************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/*************************************************FOOTER**************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts-con {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-event {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
}

/*************************************************HOME HEADER**************************************************/
.event-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/image/slider-4.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.event-title1 {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 30vh;
  font-weight: bolder;
}

/*************************************************HOME BTN**************************************************/
/*
.home-btn{
  margin-left: 650px;
  margin-top: 170px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.5s;
}

/*************************************************EVENT**************************************************/
.event1 {
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.event-image-box1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.image1 {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.event-date1 {
  color: #555555;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-top: 20px;
}

.event-paragraph-box1 {
  font-family: Gill Sans;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-paragraph1 {
  background-color: white;
  height: 400px;
  margin-right: 30px;
  width: 350px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
}

.image-paragraph1:hover {
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.228);
  transition: 0.5s;
}

.event-input1 {
  width: 300px;
  height: 50px;
  border: 1px solid grey;
  background-color: white;
  background-image: url(../assets/icons/search.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position: 10px;
  margin: 25px;
  color: black;
  padding-left: 40px;
  transition: 0.5s;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.event-input1:focus {
  border: 1px solid black;
}

.box {
  margin-top: 80px;
}

.pagination {
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.custom-pagination .page-item.active .page-link {
  background-color: #ff7322;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.custom-pagination .page-item .page-link {
  margin-right: 10px;
  border: none;
  color: #ff7322;
  background-color: #f1eded;
}

.custom-pagination .page-item .page-link:hover {
  color: #e09766;
  transition: 0.5s;
}

.page-link {
  color: #ff7322;
}

.page-item.active .page-link {
  z-index: 1;
  color: white;
  cursor: pointer;
}

.search {
  margin-left: 40px;
  width: 370px;
}

.search-box {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
  margin-bottom: 40px;
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
}

.image2 {
  width: 120px;
  height: 80px;
  object-fit: cover;
}

.image-e-p2 {
  display: flex;
  flex-direction: row;
  margin: 25px;
  margin-bottom: 35px;
}

.title-popular {
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
  height: 720px;
}

.popular {
  margin: 25px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 25px;
}

.event-date2 {
  color: #555555;
  font-size: 12px;
  margin-left: 15px;
}

.event-paragraph-box2 {
  font-family: "Times New Roman";
  font-size: 16px;
  margin-left: 15px;
}

.event-paragraph-box1:hover {
  color: #ff7322;
  cursor: pointer;
  transition: 0.5s;
}

.category {
  background-color: white;
  margin-top: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
  height: 350px;
}

.category-title {
  margin: 25px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 25px;
}

.category-li {
  list-style: none;
  margin-left: 25px;
}

.line {
  margin-left: 25px;
  margin-right: 25px;
}

.category-link {
  color: #ff7322;
}

.category-link:hover {
  color: #e09766;
  text-decoration: none;
  transition: 0.5s;
}

/*************************************************RESERVE**************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/*************************************************FOOTER**************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-reservation {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
}

/***************************************************** HEADER ******************************************************/
.reservation-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/image/slider-4.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.reservation-title {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  font-weight: bolder;
  margin-top: 30vh;
}

/*
.home-btn{
  margin-left: 650px;
  margin-top: 170px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
}

/***************************************************** BOOKING ******************************************************/
.reservation-booking-form {
  width: 100vw;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.form-content {
  width: 45vw;
  height: 960px;
  border: 1px solid #c2bfbf;
  margin: 120px;
}

.form-box-name {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.form-email {
  display: flex;
  flex-direction: column;
}

.form-t {
  display: flex;
  flex-direction: row;
}

.label-check {
  display: block;
}

.form-book-select {
  display: flex;
  flex-direction: row;
}

.booking-label {
  color: black;
  font-weight: 500;
}

.reservation-input {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-email {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 535px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-input-check {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-form-box {
  display: flex;
  flex-direction: column;
}

.reservation-label {
  margin-top: 30px;
  margin-left: 35px;
  color: black;
  font-weight: 500;
}

.reservation-input-number {
  margin-left: 35px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.reservation-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 200px;
  margin-top: 60px;
  margin-left: 35px;
  border: none;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reservation-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.reservation-btn:focus {
  outline: none;
}

.textarea {
  width: 535px;
  height: 220px;
  color: #817f7f;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 35px;
}

.reservation-paragraph-content {
  margin-top: 120px;
}

.reserve-name {
  color: #828686;
  font-size: 15px;
  letter-spacing: 3px;
}

.reserve-address {
  color: #858a88;
  font-size: 40px;
  font-family: "Times New Roman";
  margin-bottom: 40px;
}

/*************************************************TESTIMONIAL**************************************************/
.testimonial-home {
  background-color: white;
  height: 160vh;
}

.testimonial-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.testimonial-comments {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.testimonial-img-p {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 100px;
}

.testimonial-image-carousel {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimonial-paragraph {
  line-height: 1.8rem;
  color: black;
}

.testimonial-nick {
  color: #555555;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -50px;
  margin-right: -50px;
}

/***************************************************** RESERVE ******************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 1px solid #c4c2c2;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
}

/***************************************************** FOOTER ******************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container-room {
  display: flex;
  flex-direction: column;
  background-color: #dddada;
}

/************************************************ROOM HEADER**************************************************/
.room-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/image/slider-5.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.room-title {
  color: white;
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 20vh;
  font-weight: bolder;
}

/*************************************************ROOM BTN**************************************************/
/*    
.home-btn{
  margin-left: 650px;
  margin-top: 300px;
}
.home-scroll-btn{
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 
.point{
  padding-top: 3px;
  color: white;
  height: 80px;
  font-weight: bold;
}  
*/
/*************************************************NAVIGATION**************************************************/
.navbar-custom {
  z-index: 1000;
  background-color: white;
}

.navbar-bran {
  font-size: 30px;
  color: black;
  font-family: italic;
  font-weight: 1000;
}

.navbar-bran:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navbar-icon {
  border: 2px solid red;
  position: relative;
}

.navbar-icon:focus {
  background-image: url(../assets/icons/k.png);
  color: red;
}

.navbar-collapse {
  background-color: white;
  margin-top: -55px;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px;
}

.nav-link:hover {
  background-color: #ff7322;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  padding-right: 30px;
  padding-left: 30px;
  transition: 0.5s;
}

/*************************************************OFFER**************************************************/
.form-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.offer {
  margin-top: 100px;
}

.offer-main {
  width: 90vw;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.offer-main-end {
  width: 90vw;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 100px;
}

.offer-img-1 {
  width: 45vw;
  height: 630px;
  object-fit: cover;
}

.offer-image {
  height: fit-content;
}

.offer-price {
  width: 37vw;
  margin-left: auto;
  margin-right: auto;
}

.price-time {
  display: flex;
  flex-direction: row;
}

.price {
  color: #ff7322;
  font-size: 50px;
  margin-top: 60px;
}

.time {
  margin-left: 5px;
  margin-top: 100px;
  color: #807e7e;
}

.price-title {
  font-family: "Times New Roman";
  font-size: 35px;
}

.price-paragraph {
  color: #555555;
  line-height: 2rem;
  font-size: 16px;
}

.price-paragraph-2 {
  color: #807e7e;
  line-height: 1.7rem;
  font-size: 15px;
  margin-top: 20px;
}

.offer-booking-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 160px;
  margin-top: 25px;
  border: none;
  color: white;
  margin-bottom: 60px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.offer-booking-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/*************************************************GALLERY**************************************************/
.carousel-content {
  height: 190vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.gallery-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.gallery-paragraph {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  color: #807e7e;
}

.testimonial-image {
  width: auto;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
  padding: 0 100px;
}

.view-more-photos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.view-more-photos-link {
  color: #ff7322;
  text-decoration: none;
}

/*************************************************TESTIMONIAL**************************************************/
.testimonial-home {
  background-color: white;
  height: 160vh;
}

.testimonial-title {
  font-size: 70px;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.testimonial-comments {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.testimonial-img-p {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 100px;
}

.testimonial-image-carousel {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimonial-paragraph {
  line-height: 1.8rem;
  color: black;
}

.testimonial-nick {
  color: #555555;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: -50px;
  margin-right: -50px;
}

/*************************************************RESERVE**************************************************/
.reserve-content {
  background-color: white;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 1px solid #c4c2c2;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.reserve-paragraph {
  font-family: Gill Sans;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reserve-btn {
  border-radius: 25px;
  background-color: #ff7322;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  margin-top: 120px;
  margin-left: 580px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.reserve-btn:hover {
  opacity: 0.5;
}

/*************************************************FOOTER**************************************************/
.footer {
  background-color: #222422;
  height: fit-content;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 60px;
}

.footer-ul-1 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-ul-2 {
  line-height: 2.5rem;
  margin-right: 140px;
}

.footer-li {
  list-style: none;
}

.footer-link {
  color: #b3b9b3;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  margin-right: 50px;
  width: 300px;
}

.contact-name {
  color: white;
}

.contacts {
  width: 18px;
  margin-right: 12px;
  color: #ff7322;
}

.link {
  color: #666563;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-paragraph {
  color: #7e7d7c;
  margin-bottom: 40px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 270px;
  background-color: #222422;
  color: white;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #575553;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 17px;
  padding-left: 5px;
}

.horyzontal-line {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #575553;
  margin-top: 110px;
}

.footer-sentance {
  color: white;
  margin-left: 100px;
  color: #747070;
  margin-top: 60px;
  margin-bottom: 110px;
}

.colorlib {
  color: #a09e9c;
}

.colorlib:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.footer-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.footer-icon-box {
  margin-left: 480px;
}

/*# sourceMappingURL=main.css.map */
